@page "/Archipelago"
@using Microsoft.AspNetCore.Components.Forms
@using System.IO;
@using System.IO.Compression;
@using System;
@using System.Web
@using System.Net.Http
@using System.Text;
@using FFMQLib;
@using Microsoft.JSInterop;
@using Microsoft.JSInterop.WebAssembly;
@using Blazorise.Components;
@using RomUtilities;
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject HttpClient Http


<style>
    body {

        background: linear-gradient(rgba(27,42,81,1),rgba(85,109,171,1)) no-repeat center fixed;
        background-size: cover;
    }
</style>

@if (loadingDone)
{
    <div class="@(sandboxMode ? "center-logo-sandbox" : "center-logo")">
        @if (sandboxMode)
        {
            <img height=@titleHeight src="logo/logosandbox_hebinx.gif" />
        }
        else
        {
            <img height=@titleHeight src="@titleLetters[0]" /><img height=@titleHeight src="@titleLetters[1]" /><img height=@titleHeight src="@titleLetters[2]" /><img height=@titleHeight src="@titleLetters[3]" /><img height=@titleHeight src="@titleLetters[4]" /><img height=@titleHeight src="@titleLetters[5]" /><img height=@titleHeight src="logo/mqlogo_.png" /><img height=@titleHeight src="@titleLetters[6]" /><img height=@titleHeight src="@titleLetters[7]" /><img height=@titleHeight src="@titleLetters[8]" /><img height=@titleHeight src="@titleLetters[9]" /><img height=@titleHeight src="@titleLetters[10]" />
        }
    </div>
<h1 class="text-secondary text-center" style="font-size: 1em">A FFMQ Randomizer<br />@("v" + @FFMQLib.Metadata.Version + (@betaStatus ? "-beta" : "") + (@sandboxMode ? " Sandbox" : ""))</h1>

<div><br /></div>

<Container class="sectionBox">
    <div class="box-title text-secondary">Archipelago</div>
    <Container Class="infoBox">
            <div class="text-secondary">Upload your Archipelago config file (.apmq) to generate an AP compatible rom. Visit the <a href="https://github.com/Alchav/Archipelago/blob/ffmq-external-shuffle/worlds/ffmq/docs/multiworld_en.md" target="_blank" rel="noopener noreferrer" class="text-secondary" style="text-decoration: underline">FFMQ Multiworld Setup Guide <Icon Name="IconName.ExternalLinkSquareAlt" class="text-secondary" /></a> for more info.</div>
    </Container>
</Container>

<div><br /></div>
}
<Container class="sectionBox" Style=@(loadingDone ? "" : "display: none")>
    <div class="box-title text-secondary">
        Generation       
    </div> 

    <Container Class="flagBox">
        <Container Class="flagColumn">
            <GenerateButton Flags="flags" ApConfigs="apconfigs" Seed="seed" Preferences="preferences" Beta="@GetBetaStatus()" IsLoadFromMemoryDone="@LoadFromMemoryDone" />
        </Container>
        <Container Class="flagColumn">
            <Field Class="dropFlag">
                <FieldLabel TextColor="TextColor.Secondary" class="fw-bold">
                    Load Archipelago Config File
                    </FieldLabel>
                    <FileEdit Filter=".apmq" AutoReset="false" Changed="@LoadApConfigFile"></FileEdit>
                    <FieldHelp>@yamlMessage</FieldHelp>
            </Field>
        </Container>
    </Container>
</Container>

@if (loadingDone)
{
    <div><br /></div>

<PreferencesSection preferences="@preferences" />

<div><br /><br /><br /><br /><br /></div>
}

@code{
    private long maxFileSize = 0x80200;
    private bool loadingDone = false;
    private int titleHeight = 80;
    private bool sandboxMode = false;
    private bool betaStatus = false;

    private Flags flags = new();
    private Preferences preferences = new();
    private ApConfigs apconfigs = new();
    private Blob seed = new byte[4];
    private List<string> titleLetters = new List<string> { "logo/mqlogoM.png", "logo/mqlogoy.png", "logo/mqlogos.png", "logo/mqlogot.png", "logo/mqlogoi.png", "logo/mqlogoc.png", "logo/mqlogoQap.png", "logo/mqlogou.png", "logo/mqlogoe.png", "logo/mqlogos2.png", "logo/mqlogot2.png" };

    private string yamlPreset = "";
    private string yamlMessage = "";
    private string yamlName = "default";

    private bool GetBetaStatus()
    {
        var uri = new Uri(NavigationManager.Uri);

        string fullUrl = uri.OriginalString;
        int index = fullUrl.IndexOf("dev");
        if (index >= 0)
        {
            return true;
        }

        return false;
    }


    private bool GetSandboxStatus()
    {
        var uri = new Uri(NavigationManager.Uri);

        string fullUrl = uri.OriginalString;
        int index = fullUrl.IndexOf("sandbox");
        if (index >= 0)
        {

            return true;
        }    

        return false;
    }

    private async Task LoadYamlFromUpload(FileChangedEventArgs e)
    {
        try
        {
            using (StreamReader streamReader = new StreamReader(e.Files.First().OpenReadStream(maxFileSize), Encoding.UTF8))
            {
                await LoadYamlFromStreamReader(streamReader);
            }
        }
        catch (Exception ex)
        {
            yamlMessage = ex.Message;
            Console.WriteLine(ex.Message);
        }
    }
    private async Task LoadYamlFromStreamReader(StreamReader streamReader)
    {
        try
        {
            using (streamReader)
            {
                yamlPreset = await streamReader.ReadToEndAsync();
            }

            yamlName = flags.ReadYaml(yamlPreset, apconfigs.GetSeed());
        }
        catch (Exception ex)
        {
            yamlMessage = ex.Message;
            Console.WriteLine(ex.Message);
        }
    }

    async void LoadApConfigFile(FileChangedEventArgs e)
    {
        try
        {
            MemoryStream memZip = new();

            await e.Files.First().WriteToStreamAsync(memZip);
            apconfigs.FileName = e.Files.First().Name.Split('.')[0];
            using (ZipArchive configContainer = new ZipArchive(memZip))
            {
                foreach (var file in configContainer.Entries)
                {
                    if (file.Name == "itemplacement.yaml")
                    {
                        using (var streamReader = new StreamReader(file.Open(), Encoding.UTF8))
                        {
                            apconfigs.ItemPlacementYaml = await streamReader.ReadToEndAsync();
                        }
                    }
                    else if (file.Name == "startingitems.yaml")
                    {
                        using (var streamReader = new StreamReader(file.Open(), Encoding.UTF8))
                        {
                            apconfigs.StartingItemsYaml = await streamReader.ReadToEndAsync();
                        }
                    }
                    else if (file.Name == "flagset.yaml")
                    {
                        using (var streamReader = new StreamReader(file.Open(), Encoding.UTF8))
                        {
                            await LoadYamlFromStreamReader(streamReader);
                        }
                    }
                    else if (file.Name == "setup.yaml")
                    {
                        using (var streamReader = new StreamReader(file.Open(), Encoding.UTF8))
                        {
                            apconfigs.SetupYaml = await streamReader.ReadToEndAsync();
                        }
                    }
                    else if (file.Name == "rooms.yaml")
                    {
                        using (var streamReader = new StreamReader(file.Open(), Encoding.UTF8))
                        {
                            apconfigs.RoomsYaml = await streamReader.ReadToEndAsync();
                        }
                    }

                }
            }

            apconfigs.ProcessYaml();
            yamlMessage = "Archipelago Config File loaded successfully.";

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }


    }

    protected override void OnInitialized()
    {
        sandboxMode = GetSandboxStatus();
        betaStatus = GetBetaStatus();
        if (sandboxMode)
        {
            titleHeight = 240;
        }
    }

    void LoadFromMemoryDone(bool result)
    {
        loadingDone = true;
        JS.InvokeVoidAsync("hideLoadingBox");
        StateHasChanged();
    }

}
